@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}

body {
  background-color: $bg-color;
  margin: 0px;
  font-family: $font;
}

header {
  h1 {
    padding: 10px;
    background-color: $primary-color;
    color: $header-font-color;
    text-align: center;
  }
}

main {
  section#movies {
    padding: 10px;
    max-width: 696px;
    margin: auto;
  }
}
